.container{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  margin: auto;

  height: 100%;
  width: 100%;

  z-index: -5;
  pointer-events: none;
  
  opacity: 0.8;
  
  margin-inline: auto;
    
}

.bmg{
  font-family: 'Iceberg', sans-serif;
  color: var(--dark);
  font-size: clamp(150px, calc(50vw), 1000px);
  /* letter-spacing: -5vw; */

  background-image: linear-gradient(to left,#85b098 35%, #5bbc88 65%, var(--dark));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  opacity: 0.2;
  
}

.hide{
  display: none;
}
.show{
  display: flex;
}