.main,.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main{
    padding: 6rem 0 0 0;
}
.container{
    gap: 4rem;
}
.header{
    text-align: center;
    background-image: linear-gradient(to left, #afd6c5 20%, #a8d7bd 45%, #5bbc88);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding: 0 1rem;
}
.img_wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
}
.img{
    margin-inline: auto;
    height: auto;
    max-width: 100%;
    border-radius: 0.375rem;
    aspect-ratio: auto 550 / 712;
}
.sub_header{
    text-align: center;
    background-image: linear-gradient(to left, #afd6c5 20%, #a8d7bd 45%, #5bbc88);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    margin-bottom: 4rem;
}
.testimonials_container{
    align-self: center;
    max-width: 1400px;
    padding: 0 6rem;
}
.testimonial_wrapper{
    position: relative;
    margin-bottom: 4rem;
}
.testimonial_wrapper::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.291);
    left: -2%;
    bottom: 0;
}
.testimonial{
    margin-bottom: 2rem;
}
.paragraph{
    margin-bottom: 0.5rem;
}

@media(max-width: 585px){
    .testimonials_container{
        padding: 0 2rem;
    }
}